{#- vim: set sw=2 ts=2 sts=2 et : -#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
<title>RstPreview</title>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/normalize.min.css" />
<link type="text/css" rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/css/foundation.min.css" />
<link type="text/css" rel="stylesheet"
  href="{{ static('style/pygments.css') }}" />
<style type="text/css">
/* <![CDATA[ */
textarea {
  font-family: monospace;
  resize: vertical;
}
pre {
  font-size: smaller;
}
.row {
  max-width: 100%;
}
/* ]]> */
</style>
</head>

<body>
<header class="row">
<h1 class="site-title">RstPreview</h1>
</header>

<div class="row">
<section class="medium-6 columns">
<form method="post" action="">
<textarea id="source" name="content" rows="20">
{% if content|d -%}
{{ content|escape }}
{% endif -%}
</textarea>
<div class="text-right">
<button type="submit" class="tiny button">Preview</button>
</div>
</form>
</section>
<section id="preview" class="medium-6 columns">
{{ preview|d('') }}
</section>
</div>

<footer class="row text-center"
  style="border-top: 1px solid #cccccc; font-size: 0.75em;">
<a href="https://bitbucket.org/AdmiralNemo/rstpreview">RstPreview</a> |
Copyright © 2015 Dustin C. Hatch
</footer>

<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.1/js/foundation.min.js">
</script>
<script type="text/javascript">
/* <![CDATA[ */
$(document).foundation();
$(document).ready(function() {
    var timeout = 750;
    var timer;
    var source_field = $("#source");
    var preview_pane = $("#preview");
    var previous;

    var value = source_field.val();
    if (value) {
        get_preview(value, preview_pane);
    }
    delete value;

    source_field.closest("form").find("button[type=submit]").hide();
    source_field.keyup(function(evt) {
        if (timer) {
            clearTimeout(timer);
        }

        timer = setTimeout(function() {
            var value = source_field.val();
            if (value == previous) {
                return;
            }
            get_preview(value, preview_pane);
            previous = value;
        }, timeout);
    });
});

function get_preview(value, output) {
    $.ajax({
        "url": "preview",
        "method": "POST",
        "contentType": "text/plain",
        "data": value
    }).done(function(data) {
        output.html(data);
    });
}
/* ]]> */
</script>
</body>

</html>
